<h1 mat-dialog-title>{{medicalId ? "Sửa" : "Thêm"}} Chuyên Khoa</h1>

<div mat-dialog-content>
    <form [formGroup]="medicalForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Tên Chuyên Khoa</mat-label>
            <input matInput formControlName="name" placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Mô tả</mat-label>
            <textarea formControlName="description" matInput rows="5" ></textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        </mat-form-field>
        <div class="mb-3">
            <p class="h6">Chọn ảnh</p>

            <input type="file" (change)="onFileSelect($event)"  #imageInput />
            <ng-container *ngIf="imageUrl">

                <img [src]="imageUrl" alt="" width="250px" class="mt-2">
            </ng-container>
        </div>


        <button mat-raised-button type="submit"  color="aqua" 
            class="btn-submit"
        >
            {{medicalId ? "Sửa" : "Thêm"}}
        </button>
    </form>
</div>