

.mat-mdc-form-field {
    // margin-top: 6px;
    width: 98%;
    margin: 2%;
}

.btn-submit {
    margin: 2%;

}

.mat-mdc-raised-button.mat-aqua {
    background: linear-gradient(to right, #BCD0E6 , #64e9ff);
}