.nav-link {
    color: black;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 20px;
    cursor: pointer;

    &:hover {
        color: black;
        background: linear-gradient(to right, #BCD0E6 , #64e9ff);
        border-radius: 50px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    }
}

.logo {
    width: 70px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

li {
    margin: 10px;
}

.header-active {
    color: black;
    background: linear-gradient(to right, #BCD0E6 , #64e9ff);
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}