

<button (click)="openDialog()" mat-fab matTooltip="Primary" color="aqua" aria-label="Example fab with a heart icon" >
    <mat-icon>add</mat-icon>
</button>

<ng-container *ngFor="let item of medicals$ | async; trackBy: trackByFn ">

    <mat-card  class="my-3 medical-card">
        <mat-card-header>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button (click)="openDialogData(item)">Sửa</button>
            <button mat-button (click)="onDeleteMedical(item._id)">Xóa</button>
        </mat-card-actions>
    </mat-card>
</ng-container>