<mat-card class="mb-3" [routerLink]="['/doctors', doctorItem?._id]">
    <mat-card-header class="">
        <div mat-card-avatar  class="example-header-image"
            [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"
        ></div>
        <div class="doctor-name">
            <mat-card-title>{{ doctorItem?.name }}</mat-card-title>
            <mat-card-subtitle>{{ doctorItem?.medicalSpecialty }}</mat-card-subtitle>

        </div>
        <div >
            <p class="price"><span class="text-secondary">Giá:</span> {{doctorItem?.price | currency: "VND" : ''}} VND</p>
            <p class="address"><span class="text-secondary">Địa chỉ:</span>{{doctorItem?.address}}</p>
        </div>
    </mat-card-header>
    
</mat-card>