<mat-card class="mb-3" [routerLink]="['/doctors', doctorItem?._id]">
    <mat-card-header class="">
        
        <div mat-card-avatar  class="example-header-image"
            [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"
        ></div>
        <div class="doctor-name">
            <mat-card-title>{{ doctorItem?.name }}</mat-card-title>
            <mat-card-subtitle>{{ doctorItem?.medicalSpecialty }}</mat-card-subtitle>

        </div>
        <div >
            <p>Giá khám: {{doctorItem?.price | currency:"VND"}}</p>
            <p>Địa chỉ: {{doctorItem?.address}}</p>
        </div>
    </mat-card-header>
</mat-card>