<div class="container">
    <app-header></app-header>
    <mat-form-field appearance="outline">
        <mat-label>Tìm kiếm Bác Sĩ</mat-label>
        <input matInput placeholder="Tên Bác Sĩ">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <ng-container *ngFor="let doctor of doctors">
        <mat-card class="mb-3" [routerLink]="['/doctors', doctor._id]">
            <mat-card-header class="justify-content-around">
                
                <div mat-card-avatar  class="example-header-image"></div>
                <mat-card-title>{{ doctor.name }}</mat-card-title>
                <mat-card-subtitle>{{ doctor.medicalSpecialty[0] }}</mat-card-subtitle>
                <div >
                    <p>Giá khám: 400k</p>
                    <p>Địa chỉ: Đại học Cần Thơ</p>
                </div>
            </mat-card-header>
        </mat-card>

    </ng-container>

    <app-footer></app-footer>

</div>