.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 100px;
    height: 100px;
}

.mat-mdc-card {
    margin: 1%;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

.bg-info {
    border-radius: 40px;
}

.btn-signup {
    margin: 1%;
}