<ng-container  *ngFor="let item of appointments$ | async; trackBy: trackByFn " >
    <div @hideAndShow>

        <app-confirmed-item  
            [appointment]="item"
            (deleteAppointment)="onDeleteAppointment($event)"

        ></app-confirmed-item>
        <mat-divider ></mat-divider>
    </div>

</ng-container>

<ng-container *ngIf="(appointments$ | async)?.length === 0">     
            
    <div class="empty d-flex flex-column justify-content-center align-items-center">
        <mat-icon>info</mat-icon>

        <p class="mt-3 text-empty">Không có lịch khám</p>

    </div>
</ng-container>