<ng-container >
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <span>Management</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
        </button>
        
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
            
            <mat-list>
                <mat-list-item [routerLink]="'/admin'">
                    <mat-icon matListItemIcon>folder</mat-icon>
                    <div matListItemTitle>Dashboard</div>

                </mat-list-item>
                <mat-divider></mat-divider>

                
                <ng-container *ngIf="(role$ | async) === 'doctor'">
                    
                    <mat-list-item [routerLink]="'/admin/my-clinic'">
                        <mat-icon matListItemIcon>person_outline</mat-icon>
                        <div matListItemTitle>Phòng khám của tôi</div>
    
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item [routerLink]="'/admin/appointments'">
                        <mat-icon matListItemIcon>access_time</mat-icon>
                        <div matListItemTitle>Appointments</div>
    
                    </mat-list-item>
                    <mat-divider></mat-divider>


                </ng-container>

                
                <ng-container *ngIf="(role$ | async) === 'admin'">
                    <mat-list-item [routerLink]="'/admin/doctors'">
                        <mat-icon matListItemIcon>recent_actors</mat-icon>
                        <div matListItemTitle>Doctors</div>
    
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item [routerLink]="'/admin/medical'">
                        <mat-icon matListItemIcon>create</mat-icon>
                        <div matListItemTitle>Medical Field</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    
                    <mat-list-item [routerLink]="'/admin/request-doctor'">
                        <mat-icon matListItemIcon>message</mat-icon>
                        <div matListItemTitle>Request Doctor</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                </ng-container>



              </mat-list>

        </mat-sidenav>

        <mat-sidenav-content class="content">
            <router-outlet></router-outlet>
            
        </mat-sidenav-content>

    
    </mat-sidenav-container>


</ng-container>

