.example-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;

    mat-list-item:hover {
        cursor: pointer;
        background-color: #ccc;
    }
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.example-spacer {
    flex: 1 1 auto;
}

.content {
    padding: 20px 20px 0;
}

.mat-toolbar.mat-aqua {
    background: linear-gradient(to right, #BCD0E6 , #64e9ff);
}

.mat-mdc-mini-fab.mat-red {
    background: linear-gradient(to left, #ff4066 , #fff16a);
}






