<ng-container  *ngFor="let item of requestDoctors; trackBy: trackByFn " >
    <div @hideAndShow>

        <app-request-item  
            [requestDoctor]="item"
            (deleteRequest)="onDeleteRequest($event)"
            (conformRequest)="onCreateDoctor($event)"
        ></app-request-item>
        <mat-divider ></mat-divider>
    </div>

</ng-container>

<ng-container *ngIf="requestDoctors.length === 0">     
            
    <div class="empty d-flex flex-column justify-content-center align-items-center">
        <mat-icon>info</mat-icon>

        <p class="mt-3 text-empty">Không có yêu cầu</p>

    </div>
</ng-container>

