.example-header-image {
    background-image: url('http://localhost:3000/uploads/avatarDoctor.jpg');
    background-size: cover;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.example-card {
    margin-bottom: 10px;
    // background: linear-gradient(to right, #BCD0E6 , #64e9ff);
    background: linear-gradient(to right, rgba(188, 208, 230, 0.5), rgba(100, 233, 255, 0.5));


    cursor: pointer;

    .price {
        font-size: 18px;
        font-weight: 500;
    }

    .address {
        font-size: 18px;
        font-weight: 500;
    }
}