<mat-card class="example-card" [routerLink]="['/doctors', doctorItem?._id]">
    <mat-card-header>
        <div mat-card-avatar  class="example-header-image"
            [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"
        
        >

        </div>
        <mat-card-title-group class="ps-3 justify-content-between">
            <div class="col-6">

                <mat-card-title>Bác sĩ {{doctorItem?.name}}</mat-card-title>
                <mat-card-subtitle *ngFor="let specialty of doctorItem?.medicalSpecialty">{{specialty}}</mat-card-subtitle>
            </div>
            <div class="col-6">
                <p class="price"><span class="text-secondary">Giá:</span> {{doctorItem?.price | currency: "VND" : ''  }} VND</p>
                <p class="address"> <span class="text-secondary">Địa chỉ:</span>  {{doctorItem?.address}}</p>
            </div>
        </mat-card-title-group>
    </mat-card-header>
    
</mat-card>