.example-header-image {
    background-image: url('http://localhost:3000/uploads/avatarDoctor.jpg');
    background-size: cover;
    width: 100px;
    height: 100px;
}

.container {
    min-height: 1000px;
}

.img-medical {
    width: 100%;
    height: 300px;
    object-fit: cover;
}



.mat-drawer-content {
    min-height: 1000px;
}