.example-header-image {
    background-size: cover;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.time-booking {
    background-color: #fff8ae;
    color: black;
    font-weight: 500;
    padding: 10px 15px;
    margin: 10px 10px 10px 0;
    display: inline-block;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 0px 2px #33B0E3 inset;
        background-color: #f8ef88;

    }
}

.content-examination li {
    list-style: disc;
}

.container {
    min-height: 1000px;
}

.none-content {
    height: 300px;
}