<div class="container">
    <app-header></app-header>

    <mat-card class="mb-3" [routerLink]="'/doctor-detail'">
        <mat-card-header >
            
            <div mat-card-avatar  class="example-header-image"></div>
            <mat-card-title>Phó Giáo sư, Tiến sĩ, Bác sĩ Lê Quang Quốc Ánh</mat-card-title>
            <mat-card-subtitle>Tiêu hóa</mat-card-subtitle>
            
        </mat-card-header>
        <mat-card-content>
            {{longText}}
        </mat-card-content>
    </mat-card>

    <mat-form-field>
        <mat-label>Chọn ngày</mat-label>
        <mat-select [(value)]="selected">
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Thứ 7 - 16/9</mat-option>
        <mat-option value="option3">Option 3</mat-option>
        </mat-select>
    </mat-form-field>

    <p class="h3">Lịch khám</p>
    <div class="row">
        <div class="col-8">
            <a class="time-booking">07:30 - 08:00</a>
            <a class="time-booking">07:30 - 08:00</a>
            <a class="time-booking">07:30 - 08:00</a>
            <a class="time-booking">07:30 - 08:00</a>
            <a class="time-booking">07:30 - 08:00</a>
            <a class="time-booking">07:30 - 08:00</a>
            <a class="time-booking">07:30 - 08:00</a>
            <a class="time-booking">07:30 - 08:00</a>
            <a class="time-booking">07:30 - 08:00</a>
            
        </div>
        <div class="col-4">
            <ul>
                <p class="h6">Địa chỉ khám</p>
                <li>Bệnh viện Ung bướu Hưng Việt</li>
                <li>34 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</li>
                <li>GIÁ KHÁM:  500.000đ. Xem chi tiết</li>
                <li>LOẠI BẢO HIỂM ÁP DỤNG. Xem chi tiết</li>
            </ul>
        </div>
    </div>

    <div class="content-examination">
        <h2>Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</h2>
        <ul>
            <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
        </ul>
        <h2>Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</h2>
        <ul>
            <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
        </ul>
        <h2>Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</h2>
        <ul>
            <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
        </ul>
        <h2>Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</h2>
        <ul>
            <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
        </ul>
    </div>

    <app-footer></app-footer>


</div>