<div class="container" >
    <app-header></app-header>
    
    <ng-container *ngIf="doctor$ | async as doctor else loadingTmpl">

        <mat-card class="mb-3"  >
            <mat-card-header >
                
                <div mat-card-avatar  class="example-header-image"
                    [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"
                    
                ></div>
                <mat-card-title>{{ doctor.name }}</mat-card-title>
                <mat-card-subtitle>{{ doctor.medicalSpecialty }}</mat-card-subtitle>
                
            </mat-card-header>
            <mat-card-content >
                {{ longText }}
            </mat-card-content>
        </mat-card>
    
        <mat-form-field>
            <mat-label>Chọn ngày</mat-label>
            <mat-select [(value)]="selected">
                <ng-container *ngFor="let item of sortTime; index as i">
    
                    <mat-option 
                        [value]="i"
                        (click)="OnChangeDay(item.day)"
                    >{{ item.day | date: 'dd/MM/yyyy' }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    
        <p class="h3">Lịch khám</p>
        <div class="row">
            <div class="col-8">
                <ng-container *ngIf="availableTimes$ | async as availableTimes">
                    <a class="time-booking" 
                        *ngFor="let hour of availableTimes[0].hours"
                        [routerLink]="['/booking', doctor._id]"
                        [queryParams]="{ day: availableTimes[0].day , hour: hour }"
                    >
                        {{ hour }}
                    </a>
                </ng-container>
             
                
            </div>
            <div class="col-4">
                <ul>
                    <p class="h6">Địa chỉ khám</p>
                    <li>Bệnh viện Ung bướu Hưng Việt</li>
                    <li>34 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</li>
                    <li>GIÁ KHÁM:  500.000đ. Xem chi tiết</li>
                    <li>LOẠI BẢO HIỂM ÁP DỤNG. Xem chi tiết</li>
                </ul>
            </div>
        </div>
    
        <div class="content-examination">
            <h2>Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</h2>
            <ul>
                <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
                <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
                <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            </ul>
            <h2>Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</h2>
            <ul>
                <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
                <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
                <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            </ul>
            <h2>Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</h2>
            <ul>
                <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
                <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
                <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            </ul>
            <h2>Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</h2>
            <ul>
                <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
                <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
                <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            </ul>
        </div>

    </ng-container>

    <app-footer></app-footer>


</div>

<ng-template #loadingTmpl>
    Loading...
</ng-template>