<div class="container">
    <app-header></app-header>

    <div>
        <form >
            <div>
                <input type="file" name="image" (change)="selectImage($event)" >
            </div>
            <br>
            <div>
                <button type="submit" (click)="onSubmit()">Upload</button>
            </div>
        </form>
    </div>

    <div class="banner row">
        <div class="left-banner col-8 d-flex flex-column justify-content-around">
            <h1 class="title">ĐẶT LỊCH NHANH CHÓNG</h1>
            <div class="description">
                <p>Khi đặt lịch khám qua Gen Booking bạn sẽ được tiếp xúc về y bác sĩ lành nghề và giàu kinh nghiệm</p>
                <p>Giá cả phù hợp, Nhân viên tư vấn nhiệt tình</p>
            </div>
            <div>
                <button [routerLink]="'/booking'" type="button" class="btn btn-info bg-opacity-50 bg-gradient ms-3 px-5 py-2" >Đặt lịch hẹn</button>
            </div>
        </div>
        <div class="right-banner col-4">
            <img src="assets/images/smiling-doctor-client-using-setmore.png" alt="">
        </div>
    </div>
    
    <div class="procedure ">
        <div class="procedure__header d-flex flex-column py-4">
            <h3 class="title text-center">Quy trình đặt lịch khám</h3>
            <p class="text-center">Gồm 4 bước</p>
        </div>
    
        <div class="row">
            <div class="col-lg-3 text-center">
                <mat-icon class="icon-cus">search</mat-icon>
                <h2 class="fw-normal pt-3">Tìm kiếm Chuyên Khoa và Bác Sĩ</h2>
                <p>Chọn chuyên khoa về bệnh mà bạn muốn khám. Chọn một bác sĩ mà bạn thấy phù hợp</p>
            </div>
            <div class="col-lg-3 text-center">
                <mat-icon class="icon-cus">today</mat-icon>
                <h2 class="fw-normal pt-3">Đặt lịch hẹn</h2>
                <p>Chọn ngày mà bạn muốn khám</p>
            </div>
            <div class="col-lg-3 text-center    ">
                <mat-icon class="icon-cus">check_box</mat-icon>
                <h2 class="fw-normal pt-3">Ghi thông tin lịch hẹn</h2>
                <p>Ghi rõ cụ thể thông tin cá nhân và bệnh</p>
            </div>
            <div class="col-lg-3 text-center    ">
                <mat-icon class="icon-cus">directions_run</mat-icon>
                <h2 class="fw-normal pt-3">Tới phòng khám</h2>
                <p>Tới phòng khám đúng như lịch hẹn với bác sĩ</p>
            </div>
        </div>
    
        <div class="medical-field py-4">
            <p class="title2">Chuyên khoa phổ biến</p>
        
            <app-slider>
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="" >
                    <h2 class="text-center">Nha khoa</h2>
                </div>
            
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="" >
                    <h2 class="text-center">Nha khoa</h2>
                </div>
            
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="" >
                    <h2 class="text-center">Nha khoa</h2>
                
                </div>
            
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="" >
                    <h2 class="text-center">Nha khoa</h2>
                
                </div>
            
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="">
                    <h2 class="text-center">Nha khoa</h2>
                
                </div>
            
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="">
                    <h2 class="text-center">Nha khoa</h2>
                
                </div>
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="">
                    <h2 class="text-center">Nha khoa</h2>
                
                </div>
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="">
                    <h2 class="text-center">Nha khoa</h2>
                
                </div>
                <div appSliderItem class="col-4">
                    <img class="rounded medical-field-item " src="assets/images/112457-co-xuong-khop.jpg" alt="">
                    <h2 class="text-center">Nha khoa</h2>
                
                </div>
            </app-slider>
        </div>
    
        <div class="doctors py-4">
            <p class="title2">Bác sĩ nổi bật</p>
            <app-slider>
                    <div appSliderItem class="col-3">
                        <div class="card" >
                            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-20.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title2">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div appSliderItem class="col-3">
                        <div class="card" >
                            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-20.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title2">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div appSliderItem class="col-3">
                        <div class="card" >
                            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-20.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title2">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div appSliderItem class="col-3">
                        <div class="card" >
                            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-20.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title2">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div appSliderItem class="col-3">
                        <div class="card" >
                            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-20.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title2">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div appSliderItem class="col-3">
                        <div class="card" >
                            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-20.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title2">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div appSliderItem class="col-3">
                        <div class="card" >
                            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-20.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title2">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div appSliderItem class="col-3">
                        <div class="card" >
                            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-20.jpg"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title2">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
    
            </app-slider>
        </div>
    
    
        <div class="some"></div>
    </div>
    
    <app-footer></app-footer>
    
</div>