.title {
    font-weight: 500;
    font-size: 36px;
}

.title2 {
    font-weight: 400;
    font-size: 28px;
}


.icon-cus {
    height: 55px;
    width: 55px;
    font-size: 55px;
    color: #0dcaf0;
}

.some {
    background: #ccc;
    height: 500px;
}

.btn {
    border-radius: 40px;
    transition: 250ms all ease-in-out;

    &:hover {
        transform: scale(1.05, 1.05);
    }
}

[appSliderItem] {
    flex-shrink: 0;
    padding: 0 10px;
    
    img.medical-field-item {
        width: 100%;
    }
}