.title {
    font-weight: 500;
    font-size: 36px;
}

.procedure__header-tile {
    font-weight: 500;
    font-size: 36px;
}

.icon {
    height: 55px;
    width: 55px;
    font-size: 55px;
    color: #198754;
}

.some {
    background: #ccc;
    height: 500px;
}