.title {
    font-weight: 500;
    font-size: 36px;
}

.title2 {
    font-weight: 500;
    font-size: 20px;
}


.icon-cus {
    height: 55px;
    width: 55px;
    font-size: 55px;
    color: #0dcaf0;
}

.some {
    background: #ccc;
    height: 500px;
}

.btn {
    border-radius: 40px;
    transition: 250ms all ease-in-out;

    &:hover {
        transform: scale(1.05, 1.05);
        
    }
}

[appSliderItem] {
    flex-shrink: 0;
    padding: 0 10px;
    transition: 250ms all ease-in-out;
    cursor: pointer;
    transform: scale(0.95);

    &:hover {
        transform: scale(1.0, 1.0);
    }
    
    img.medical-field-item {
        width: 100%;
        height: 250px;
        object-fit: cover;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

        

    }
}

.doctors img{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
}

.line {
    height: 6px;
    border-radius: 15px;
    background-color: #0dcaf0;
    width: 100%;
}
