<div class="ps-3">

    <p class="h4">Hồ sơ bệnh nhân</p>
    <mat-card class="example-card">
        <mat-card-content>
            <ul>
                <li class="d-flex align-items-center mb-2">
                    <mat-icon>account_circle</mat-icon>
                    <span class="px-3 ">Họ và tên: </span>
                    <span class="fw-medium text-primary">Nguyễn Văn A</span>
                </li>

                <li class="d-flex align-items-center mb-2">
                    <mat-icon>cake</mat-icon>
                    <span class="px-3">Ngày sinh: </span>
                    <span>03/07/2001</span>
                </li>

                <li class="d-flex align-items-center mb-2">
                    <mat-icon>phone</mat-icon>
                    <span class="px-3">Số điện thoại: </span>
                    <span>070****464</span>
                </li>

                <li class="d-flex align-items-center mb-2">
                    <mat-icon>wc</mat-icon>
                    <span class="px-3">Giới tính: </span>
                    <span>Nam</span>
                </li>

                <li class="d-flex align-items-center mb-2">
                    <mat-icon>location_on</mat-icon>    
                    <span class="px-3">Địa chỉ: </span>
                    <span>Vĩnh Long</span>
                </li>
                
            </ul>
           
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary">Sửa hồ sơ</button>
            <button mat-button>Chi tiết</button>
        </mat-card-actions>
    </mat-card>
</div>
