.appointment-card {
    width: 75%;
    cursor: pointer;
}

.action .mat-mdc-button-base {
    margin: 8px 8px 8px 0;

}

.mat-mdc-raised-button.mat-aqua {
    background: linear-gradient(to right, #BCD0E6 , #64e9ff);
}
