<mat-card  class="my-3 appointment-card " (click)="openDialog()"  >
    <mat-card-header >
        <mat-card-title>{{ requestDoctor?.doctorName }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="justify-content-between">
        <mat-card-subtitle class="ms-2">{{ requestDoctor?.content }}</mat-card-subtitle>
       
        
    </mat-card-actions>
    
</mat-card>

<div class="action d-flex flex-row-reverse">
    <button mat-raised-button color="warn" class="btn-delete" (click)="removeDoctor()" >Từ chối</button>
    <button mat-raised-button color="aqua" (click)="confirm()" >Xác nhận</button>

    

</div>
