<ng-container >
    <form [formGroup]="clinicForm" (ngSubmit)="onSubmit()">

        <mat-card class="mb-3"  >
            <mat-card-header >
                
                <input type="file" (change)="onFileSelect($event)" style="display: none;" #imageInput />
                <div mat-card-avatar  class="example-header-image"
                    [ngStyle]="{'background-image': 'url(' + testImage + ')'}"
                    (click)="openImageInput()"
                ></div>

                <mat-card-title>
                    <mat-form-field class="name-doctor">
                        <mat-label>Họ tên</mat-label>
                        <input matInput formControlName="name" placeholder="Trọng Tiến">
        
                    </mat-form-field>
                </mat-card-title>
                <mat-card-subtitle>
                    <mat-form-field>
                        <mat-label>Chuyên khoa</mat-label>
                        <mat-select formControlName="medicalSpecialty" multiple>
                            <ng-container *ngFor="let item of medicals; index as i">
                
                                <mat-option 
                                    [value]="item"
                                >{{ item }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </mat-card-subtitle>
                
            </mat-card-header>
        </mat-card>
        
        

    
        <div class="row">
            <div class="col-6">
                <p class="h6">Nội dung phòng khám</p>
                
                <mat-form-field>
                    <textarea matInput formControlName="content" style="height: 300px;"></textarea>
                </mat-form-field>
    
                <p class="h6">Địa chỉ khám</p>
                <mat-form-field>
                    <mat-icon matPrefix>home</mat-icon>
                    <input matInput formControlName="address" placeholder="Bệnh viện Chợ rẫy, Sài Gòn">
    
                </mat-form-field>
    
                <p class="h6 mt-3">Giá khám</p>
                <mat-form-field floatLabel="always" style="width: 50%;">
                    <input matInput type="number" formControlName="price" class="example-right-align" placeholder="0">
                    <span matTextPrefix>VND&nbsp;</span>
                    <span matTextSuffix>đ</span>
                </mat-form-field>
                <mat-chip-option  class="ms-5" [selected]="isActive"
                    (click)="toggleIsActive()"
                >
                    {{ isActive ? "Đang Hiển Thị" : "Đang Ẩn"}}
                </mat-chip-option>
  
            </div>
            
            <div class="col-6">
                <mat-form-field class="select-time">
                    <mat-label>Chọn ngày</mat-label>
                    <mat-select [(value)]="selectedDate">
                        <ng-container *ngFor="let day of weekDays; index as i">
            
                            <mat-option 
                                [value]="i"
                                (click)="OnChangeDay(day)"

                            >{{ day | date: 'dd/MM/yyyy' }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <div class="d-flex">

                    <p class="h4 align-self-center">Lịch khám</p>
                    <div class="ms-5 me-3">
                        <form [formGroup]="timeForm">

                            <mat-form-field class="">
                                <mat-label>Nhập giờ khám</mat-label>
                                <input matInput type="text" formControlName="inputTime">
                                <button  matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                
                            </mat-form-field>
                        </form>
                    </div>
                    <button class="add-button" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" 
                        (click)="addHourDoctor($event)" 
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <ng-container *ngIf="availableTimes$ | async as availableTimes">
                    <div class="d-inline-flex align-items-center me-3" *ngFor="let hour of availableTimes[0]?.hours">

                        <a class="time-booking" 
                            
                        >
                            {{hour}}
                        </a>
                        

                        <button mat-mini-fab matTooltip="Warn" color="warn" aria-label="Example mini fab with a heart icon" 
                            (click)="removeHourDoctor($event, hour)"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                        
                    </div>
                    
                </ng-container>
             
                
            </div>
            
        </div>
    
        
    
        <button type="submit"  mat-raised-button class="button-update">Cập nhật</button>
    </form>


</ng-container>