.example-header-image {
    // background-image: url('http://localhost:3000/uploads/1701070333236-OQ6UTW0.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.time-booking {
    background: linear-gradient(to right, #BCD0E6 , #64e9ff);
    border-radius: 50px;

    color: black;
    font-weight: 500;
    padding: 14px 16px;
    margin: 10px;
    min-width: 80px;
    text-align: center;
    display: inline-block;
    transition: all ease-in-out 250ms;
    cursor: pointer;

    
}

.content-examination li {
    list-style: disc;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}


.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.select-time {
    width: 50%;
}

.add-button {
    margin-top: 10px ;
}

.button-update {
    padding: 20px 30px;
    margin-bottom: 10px;
}